
@model int

<td style="width:250px">
	<div class="btn_group" role="group">
		<a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model">
			Edit
		</a>
		<a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@Model">
			Delete
		</a>
		<a class="btn btn-success text-white" asp-action="Details" asp-route-id="@Model">
			Details
		</a>
	</div>

</td>





